body {
    font-family: Georgia, "Times New Roman", Times, serif;;
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    color: #333333
}

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0;
    margin: auto;
}

header h1 {
    color: #eee;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: auto;
}

#main-bio {
    display: flex;
}

#contact-info {
    text-align: center;
    width: auto;
}

#contact-info ul {
    width: auto;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#bio-image {
    width: 200px;
    margin: 20px;
    flex: 1;
}

#bio-image img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 30%;
}

#bio-content {
    width: 70%;
    flex: 1;
}

body, p {
    line-height: 1.8;
    text-align: center;
}

a {
    color: #d21034;
}

footer {
    margin: auto;
    padding: 0;
    background-color: #333333;
    color: #eee;
    text-align: center;
}


@media screen and (width <= 1024px) {
    .container {
        width: auto;
    }

    #main-bio {
        flex-direction: column; 
    }

    #bio-image {
        max-width: 400px;
        width: auto;
        margin: 20px;
    }

    #bio-content {
        margin-right: 0; 
    }
    
}